/*Nav Begin*/
.nav-bar-content {
    display: flex;
    background-color: #ffb68d;
}

.nav-left {
    width: 50%;
    display: flex;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.nav-left > p {
    padding: 15px;
    border-right: 2px solid white;
}

.nav-right > p {
    padding: 15px;
}
/*Nav End*/
