* {
    box-sizing: border-box;
}

body {
    font-size: 1em;
}

button:hover {
    cursor: pointer;
}

/*Saying Start*/
.saying-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
/*Saying End*/
